{% extends 'base.html' %}

{% block title %}Customer Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row" >
        <div class="col-md-6 mx-auto" >
            <h3 class="page-header">Customer Login</h3>
            <form action="" method="POST" class="shadow p-4 bg-white rounded">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary-custom w-100">Login</button>

                {% if error %}
                <li style="color: var(--danger-color); list-style: none; margin-top: 10px;">{{error}}</li>
                {% endif %}
            </form>
            <p style="text-align: center;">Forgot Password?<a href="{% url 'ecomapp:passworforgot' %}">Reset now. </a><span><br>or dont have account? <a href="{% url 'ecomapp:customerregistration' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Register here </a> </span></p>
        </div>
    </div>
</div>
{% endblock %}