{% extends 'base.html' %}

{% block title %} My cart{% endblock %}

{% block content %}
<div class="container" style="margin-top: 3rem;">
    <div class="row" style="justify-content: center; text-transform: uppercase;">
        <div class="col-md-12">
            <h3 class="page-header">My Cart</h3>
            
            <table class="table">
                <thead style="text-align: center; font-size:medium;">
                    <tr>
                        <th>SNo.</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr style="text-align: center;">
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.title}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                        <td>
                            <a href="{% url 'ecomapp:managecart' cp.id %}?action=inc" class="btn btn-sm btn-secondary"> + </a>
                            <a href="{% url 'ecomapp:managecart' cp.id %}?action=dcr" class="btn btn-sm btn-secondary"> - </a>
                            <a href="{% url 'ecomapp:managecart' cp.id %}?action=rmv" class="btn btn-sm btn-danger-custom"> x </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr style="text-align: center;">
                        <th colspan="4" style="font-size: large; text-align: center;">Total</th>
                        <th style="font-size: large;">Rs. {{cart.total}}</th>
                        {% if cart.cartproduct_set.all %}
                        <th><a class="btn btn-primary-custom" href="{% url 'ecomapp:checkout' %} "> Check out
                            </a></th>
                        {% endif %}
                    </tr>
                    {% if cart.cartproduct_set.all %}
                    <tr>
                        <th><a href="{% url 'ecomapp:emptycart' %}" class="btn btn-danger-custom">Empty Cart</a></th>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}