{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="page-header">Reset Password</h3>
            <form action="" method="POST" class="shadow p-4 bg-white rounded">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary-custom">Reset password</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}